* {
	font-family: "arial";
	font-weight: lighter;
}
.header{
    margin-top: 20px;
    margin-left: 20px;
}
.logocontainer {
margin-bottom: 3rem;
}
.profile-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
.profile-position {
 font-weight: bold;
}
h1 {
    font-weight: bolder;
}
img {
    margin-top: 20px;
    margin-left: 20px;
}
.header__navbar--menu {
    display: flex;
    padding:1rem;
    padding-left: 4cm;
    padding-right: 4cm;
	align-items: center;
	justify-content: space-between;
	background:cadetblue;
	color: #fff;
    margin-top: 2rem;
}
 
#about {
    font-weight :bolder;
    padding-top: 2rem;
    text-align: center;
}
.profile-list{
    list-style: none;
}
.col-xs-7 img{
    width: 300px;
	height: 370px;
	margin-top: 70px;
	margin-left: 300px;

}
.profile-info {
    padding: 200px;
	width: 30%;
    text-align: justify;
    margin-left: 150px;
    }
    div>p{
        text-align: justify;
        margin-right: 400px;
    } 
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
	color: #fff;
    margin-top: 10rem;
	padding: 1rem;
    
}
.list-inline{
    display: flex;
}
.list-inline-item {
   
    margin :0.1cm;
    list-style: none;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0,1cm;
    padding-bottom:m;
}
a{
text-decoration: none;
color: #fff;
font-weight: bold;
}
